---
import { getCollection } from 'astro:content';
import BannerNav from '../../components/BannerNav.astro';
import Footer from '../../components/Footer.astro';
import ListGridYears from '../../components/lists/ListGridYears.astro';
import PostsHeader from '../../components/lists/PostsHeader.astro';
import MainHead from '../../components/meta/MainHead.astro';
import RSS from '../../components/meta/RSS.astro';
import * as header from './_index.md';
import { comparePosts } from '../../scripts/posts';

const allPages = await getCollection('posts');
const posts = allPages.sort(comparePosts).map((post) => ({
  title: post.data.title,
  href: `./${post.slug}/`,
  date: post.data.date,
  description: post.data.description,
  pictureSrc: post.data.banner,
  pictureAlt: post.data.banner_alt,
  tags: post.data.tags,
  elsewhere: post.data.elsewhere,
}));
---

<html lang="en">
  <head>
    <MainHead
      title="Blog"
      description={header.frontmatter.description}
      defaultSocial
    />
    <RSS href="/posts/rss.xml" />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <BannerNav current={Astro.url} />

    <PostsHeader links={header.frontmatter.links}>
      <header.Content />
    </PostsHeader>
    <ListGridYears items={posts} pictureAspect="half" />

    <Footer />

    <style is:global>
      picture {
        @apply aspect-w-2 aspect-h-1 mb-2;
      }
    </style>
  </body>
</html>
