---
import type { Temporal } from '@js-temporal/polyfill';
import type { ButtonProps } from '../Buttons.astro';
import ArticleDescription from './ArticleDescription.astro';
import ArticleHeaderContainer from './ArticleHeaderContainer.astro';
import ArticleTitle from './ArticleTitle.astro';
import Tags from './Tags.astro';
import Time from './Time.astro';

export interface Props {
  class?: string;
  accent?: string;
  backgroundImage?: string;
  buttons?: readonly ButtonProps[];

  title: string;
  date: Temporal.PlainDate;
  description?: string;
  tags?: readonly string[];
  elsewhere?: {
    name: string;
    link: string;
  };
}

const { title, description, date, tags, elsewhere, ...props } =
  Astro.props as Props;
---

<ArticleHeaderContainer {...props}>
  <div class="max-w-site mx-auto px-4">
    <Time {date}>Posted on</Time>
    <ArticleTitle>{title}</ArticleTitle>
    <ArticleDescription>{description}</ArticleDescription>
    <Tags class="mt-auto text-sm" {tags} elsewhere={elsewhere?.name} />
  </div>
</ArticleHeaderContainer>
