---
import '../../styles/tags.css';

export interface Props {
  class?: string;
  tags: readonly string[];
  elsewhere?: string;
}

function href(tag: string) {
  return `/tags/${tag.toLowerCase()}`;
}

const { tags, elsewhere, class: className } = Astro.props as Props;
const projects = [];
---

<ul class={`leading-normal opacity-80 ${className}`}>
  {elsewhere && <li class="tag inline font-bold">{elsewhere}</li>}
  {tags.map(tag => (
    <li class="tag inline"><a class="hover:underline" href={href(tag)}>{tag}</a></li>
  ))}
  {projects.map(project => (
    <li class="tag inline"><a class="hover:underline" href={project.url}>{project.name}</a></li>
  ))}
</ul>
