---
import BannerNav from '../../components/BannerNav.astro';
import Footer from '../../components/Footer.astro';
import ListGridYears from '../../components/lists/ListGridYears.astro';
import PostsHeader from '../../components/lists/PostsHeader.astro';
import MainHead from '../../components/meta/MainHead.astro';
import * as header from './_index.md';
import { getCollection } from 'astro:content';

const talkEntries = await getCollection('talks');

const posts = talkEntries.map((post) => ({
  title: post.data.title,
  href: post.slug,
  date: post.data.date,
  description: post.data.description,
  pictureSrc: post.data.banner,
  pictureAlt: post.data.banner_alt,
  tags: post.data.tags,
}));
---

<html lang="en">
  <head>
    <MainHead
      title={header.frontmatter.title}
      description={header.frontmatter.description}
      defaultSocial
    />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <BannerNav current={Astro.url} />

    <PostsHeader links={header.frontmatter.links}>
      <header.Content />
    </PostsHeader>
    <ListGridYears items={posts} pictureAspect="video" />

    <Footer />

    <style is:global>
      picture {
        @apply aspect-w-16 aspect-h-9 mb-2;
      }
    </style>
  </body>
</html>
