---
import BannerNav from '../../components/BannerNav.astro';
import Footer from '../../components/Footer.astro';
import ListGridYears from '../../components/lists/ListGridYears.astro';
import PostsHeader from '../../components/lists/PostsHeader.astro';
import MainHead from '../../components/meta/MainHead.astro';
import { loadPosts, postBanner } from '../../scripts/posts';
import * as header from './_index.md';

const allPages = await loadPosts(Astro.glob('./*/*.mdx'));
const posts = allPages.map((post) => ({
  title: post.frontmatter.title,
  href: post.url,
  date: post.date,
  description: post.frontmatter.description,
  pictureSrc: postBanner(post),
  pictureAlt: post.frontmatter.banner_alt,
  tags: post.frontmatter.tags,
}));
---

<html lang="en">
  <head>
    <MainHead
      title={header.frontmatter.title}
      description={header.frontmatter.description}
      defaultSocial
    />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <BannerNav current={Astro.url} />

    <PostsHeader links={header.frontmatter.links}>
      <header.Content />
    </PostsHeader>
    <ListGridYears items={posts} pictureAspect="aspect" />

    <Footer />
  </body>
</html>
