{% assign project = (include.data) %}
<article class="project" id="{{ project.id }}">
	{% comment %} # Header {% endcomment %}
	<header class="project-header mono">
		{% comment %}
			## Tag
			Uses last tag specified in the YAML
		{% endcomment %}
		{% if project.tags.last %}
			<span class="project-tag {{ project.tags.last | downcase }}">
				{{ project.tags.last }}
			</span>
		{% else %}
			<span class="project-tag no-tag"></span>
		{% endif %}

		{% comment %} ## Time  {% endcomment %}
		<time class="project-time">
			{{ project.time }}
		</time>

		{% comment %} ## Title  {% endcomment %}
		<h1 class="project-title">{{ project.title }}</h1>

		{% comment %} ## More Info link  {% endcomment %}
		{% if project.url %}
			<a href="{{ project.url }}" class="project-info-link">More info</a>
		{% endif %}
	</header>

	<div class="project-main">
		{% comment %} # Body  {% endcomment %}
		<div class="project-body">{{ project.content }}</div>

		{% comment %} # Aside  {% endcomment %}
		<aside class="project-aside">
			{% comment %} ## Tech list {% endcomment %}
			<ul class="project-tech">
				{% for tech in project.tech %}
					<li class="project-tech-item">{{ tech }}</li>
				{% endfor %}
			</ul>

			{% comment %} ## Links {% endcomment %}
			<nav class="project-links">
				{% for item in project.links %}
					<a class="project-link" href="{{ item.href }}">
						{% if item.img %}
							<img src="{{ item.img }}" height="25" alt="{{ item.alt }}">
						{% else %}
							{{ item.alt }}
						{% endif %}
					</a>
				{% endfor %}
			</nav>
		</aside>
	</div>
</article>