---
import CollectionLayout from '../../../components/collection/CollectionLayout.astro';
import type { Item } from '../../../components/lists/ListFlat.astro';
import MainHead from '../../../components/meta/MainHead.astro';
import { getCollectionPages } from '../../../scripts/collection';

export interface Props {
  category: string;
  pages: readonly Item[];
}

export async function getStaticPaths() {
  const { tagToPages, tagPaths } = await getCollectionPages(
    Astro.glob('../../{posts,talks}/*/*.md'),
    Astro.glob('../../projects/**/*.md'),
    'categories'
  );

  return Array.from(tagToPages).map(([category, pages]) => {
    const props: Props = { category, pages };
    return { props, params: { category: tagPaths.get(category) } };
  });
}

const { category, pages } = Astro.props as Props;
const description = `Posts under the ${category} category on Tiger's blog.`;
---

<html lang="en">
  <head>
    <MainHead title={`${category} | Categories`} {description} />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <CollectionLayout
      collection="Categories"
      tag={category}
      items={pages}
      rss={category === 'Planet Mozilla' ? '/categories/planet-mozilla/rss.xml' : undefined}
    />
  </body>
</html>
