---
import ArticleDescription from '../article/ArticleDescription.astro';
import ArticleHeaderContainer from '../article/ArticleHeaderContainer.astro';
import ProjectIcon from '../article/ProjectIcon.astro';
import Tags from '../article/Tags.astro';
import type { ButtonProps } from '../Buttons.astro';
import ItemTitle from './ItemTitle.astro';

export interface Props {
  items: readonly Item[];
}

interface Item {
  title: string;
  href: URL | string;
  description?: string;

  logo: ImageMetadata;
  accent?: string;
  backgroundImage?: ImageMetadata;

  tags?: readonly string[];
  buttons?: readonly ButtonProps[];
}

const { items } = Astro.props as Props;
---

<main class="flex flex-wrap py-2 safe-px-2 gap-4" style="--block-scale: 1">
  {
    items.map((item, i) => (
      <ArticleHeaderContainer
        as="article"
        class="project-panel flex flex-col max-w-full"
        padding="px-4 py-2"
        buttonsClass="justify-center"
        style={`animation-delay:${i * 200}ms`}
        accent={item.accent}
        backgroundImage={item.backgroundImage}
        buttons={item.buttons}
      >
        <ProjectIcon logo={item.logo} />
        <ItemTitle class="mt-6" href={item.href}>
          {item.title}
        </ItemTitle>
        <ArticleDescription>{item.description}</ArticleDescription>
        <Tags class="mt-auto text-sm" tags={item.tags} />
      </ArticleHeaderContainer>
    ))
  }
</main>

<style is:global>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .project-panel {
    flex: 2 0 auto;
  }
  @media (prefers-reduced-motion: no-preference) {
    .project-panel {
      animation: fadeIn 1s both;
    }
  }

  .project-panel picture {
    @apply mx-auto w-32 h-32;
  }
</style>
