---
import ArticleDescription from "../article/ArticleDescription.astro";
import ArticleHeaderContainer from "../article/ArticleHeaderContainer.astro";
import Tags from "../article/Tags.astro";
import type { ButtonProps } from "../Buttons.astro";
import ItemTitle from "./ItemTitle.astro";

export interface Props {
  items: readonly Item[];
}

interface Item {
  title: string;
  href: URL | string;
  description?: string;

  accent?: string;
  backgroundImage?: string;

  tags?: readonly string[];
  buttons?: readonly ButtonProps[];
}

const { items } = Astro.props as Props;
---
<main class="flex flex-wrap p-2 gap-4" style="--initial-block-scale: 1">
  {items.map((item, i) => (
    <ArticleHeaderContainer
      class="project-panel flex flex-col px-8 py-6"
      style={`animation-delay:${i * 0.1}ms`}
      accent={item.accent} backgroundImage={item.backgroundImage} buttons={item.buttons}>
      <ItemTitle href={item.href}>{item.title}</ItemTitle>
      <ArticleDescription>{item.description}</ArticleDescription>
      <Tags class="mt-auto text-sm" tags={item.tags} />
    </ArticleHeaderContainer>
  ))}
</main>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .project-panel {
    flex: 2 0 auto;
  }
  @media (prefers-reduced-motion: no-preference) {
    .project-panel {
      animation: fadeIn 1s both;
    }
  }
</style>
