---
import contactData from '@data/contact.json';
import AccentBlock from './AccentBlock.astro';

export interface Props {
  class?: string;
}

const { class: className } = Astro.props as Props;
const { email, social } = contactData;
---

<footer class:list={['flex flex-wrap m-8 justify-center', className]}>
  <a
    class="leading-6 mx-2 my-4 relative group"
    href="mailto:{email.link}"
    set:html={email.name}
  >
    <AccentBlock position="bottom" animate />
  </a>
  <div class="flex">
    {social.map((item) => (
      <a
        class="mx-2 my-4 relative group"
        title={item.name}
        href={item.link}>
        <AccentBlock position="bottom" animate />
        <img class="block"
          width="24" height="24"
          alt={item.name}
          src={item.icon}
          loading="lazy" />
      </a>
    ))}
  </div>
</footer>
