---
import contactData from '../data/contact.json';

export interface Props {
  class?: string;
}

const { class: className } = Astro.props as Props;
const { email, social } = contactData;
---

<footer class:list={['flex flex-wrap m-8 justify-center', className]}>
  <a
    class="leading-6 mx-2 my-4 relative accent-block--bottom"
    href="mailto:{email.link}"
    set:html={email.name}></a>
  <div class="flex">
    {social.map((item) => (
      <a
        class="mx-2 my-4 relative accent-block--bottom"
        title={item.name}
        href={item.link}
      >
        <img
          class="block"
          width="24"
          height="24"
          alt={item.name}
          src={item.icon}
          loading="lazy"
        />
      </a>
    ))}
  </div>
</footer>
