---
import contactData from '../data/contact.json';

export interface Props {
  class?: string;
}

const { class: className } = Astro.props as Props;
const { email, social } = contactData;
---

<footer class:list={['m-8 flex flex-wrap justify-center', className]}>
  <a
    class="accent-block--bottom relative mx-2 my-4 leading-6"
    href="mailto:{email.link}"
    set:html={email.name}
  />
  <div class="flex">
    {
      social.map((item) => (
        <a
          class="accent-block--bottom relative mx-2 my-4"
          title={item.name}
          href={item.link}
        >
          <img
            class="block"
            width="24"
            height="24"
            alt={item.name}
            src={item.icon}
            loading="lazy"
          />
        </a>
      ))
    }
  </div>
</footer>
