---
import '../../styles/global.css';
import '../../styles/font.css';
import themeColors from '../../data/colors.js';
import Breadcrumb from './json-ld/Breadcrumb.astro';
import Twitter from './Twitter.astro';
import OpenGraph from './OpenGraph.astro';

export interface Props {
  title: string;
  description: string;
  canonical?: string;
  defaultSocial?: boolean;
  themeColor?: 'orange-500' | 'slate-800';
}

const {
  title,
  description,
  canonical = Astro.url.pathname,
  defaultSocial,
  themeColor = 'slate-800',
} = Astro.props as Props;

const siteTitle = 'Tiger Oakes';
const pageTitle = title === siteTitle ? siteTitle : `${title} | ${siteTitle}`;
---

<meta charset="utf-8" />
<title>{pageTitle}</title>
<meta name="description" content={description} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
<link rel="icon" type="image/png" href="/favicon_x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/favicon_x48.png" sizes="48x48" />
<link rel="icon" type="image/png" href="/favicon_x512.png" sizes="512x512" />
<link rel="canonical" href={new URL(canonical, Astro.site).href} />
<link rel="manifest" href="/site.webmanifest" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, viewport-fit=cover"
/>
<meta
  name="theme-color"
  content={themeColor === 'orange-500'
    ? themeColors.orange[500]
    : themeColors.slate[800]}
/>
<meta name="monetization" content="$ilp.uphold.com/p2WKq3nJHA8w" />
<script
  is:inline
  src="https://cdn.usefathom.com/script.js"
  data-site="CSXBFPSZ"
  defer></script>
<link
  rel="preload"
  href="/font/lato/LatoLatin-Regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/font/cascadia-code/CascadiaMono-Variable.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
{defaultSocial && <Twitter title={title} description={description} />}
{defaultSocial && <OpenGraph title={title} description={description} />}
<Breadcrumb title={title} />
