---
import BannerNav from '../../components/BannerNav.astro';
import Footer from '../../components/Footer.astro';
import ListPanels from '../../components/lists/ListPanels.astro';
import MainHead from '../../components/meta/MainHead.astro';
import { projectButtons, PROJECT_PATH } from '../../scripts/projects';

const allPages = await Astro.glob('./*/*.md');
allPages.sort((a, b) => {
  const aWeight = a.frontmatter.weight || Infinity;
  const bWeight = b.frontmatter.weight || Infinity;
  return aWeight - bWeight;
});

const assets = import.meta.glob('./*/{logo,background}.{svg,png,jpg}');

async function assetPath(...paths: string[]) {
  for (const path of paths) {
    const importer = assets[path];
    if (importer) {
      const { default: fullPath } = await importer();
      return fullPath;
    }
  }
  return undefined;
}

const projects = await Promise.all(
  allPages.map(async (page) => {
    const [, projectId] = page.url.match(PROJECT_PATH);
    return {
      title: page.frontmatter.title,
      description: page.frontmatter.subtitle,
      href: page.url,
      accent: page.frontmatter.color,
      buttons: projectButtons(page.frontmatter.links, page.url),
      tags: page.frontmatter.tech,
      logo: await assetPath(
        `./${projectId}/logo.svg`,
        `./${projectId}/logo.png`
      ),
      backgroundImage: await assetPath(`./${projectId}/background.jpg`),
    };
  })
);
---

<html lang="en">
  <head>
    <MainHead title="Projects" />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <BannerNav current={Astro.canonicalURL} />

    <ListPanels items={projects} />

    <Footer />
  </body>
</html>
