---
layout: compress
---
<!doctype html>
<html lang="en">
<head>
	{% include head.liquid %}
	<style>
		{% include css/core.css %}
		{% include css/banner.css %}
		{% include css/footer.css %}
		{% include css/button.css %}
		{% include css/projects.css %}
		{% include css/portfolio-page.css %}
	</style>
	{% assign c = page.color %}
	{% assign slug = page.slug | default: page.title | slugify %}
	{% assign images = "/images/" | append: slug | append: "/" %}
	<style>
		.project-hero {
			background-image: url({{ page.images.background | prepend: images | relative_url }});
			background-color: {{ page.fallbackcolor }};
			--block: rgb({{c.r}}, {{c.g}}, {{c.b}});
			--button: rgba({{c.r}}, {{c.g}}, {{c.b}}, 0.2);
		}
	</style>
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@Not_Woods" />
	<meta name="twitter:title" content="{{ page.title }} - {{ site.title }}" />
	<meta name="twitter:description" content="{{ page.summary }}" />
	<meta name="twitter:image" content="{{ page.images.logo | prepend: images | absolute_url }}" />
	<meta property="og:type" content="product" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:site_name" content="{{ site.title }}" />
	<meta property="og:url" content="{{ page.url }}" />
	<meta property="og:image:secure_url" content="{{ page.images.logo | prepend: images | absolute_url }}" />
	<meta property="og:image:url" content="{{ page.images.logo | prepend: images | absolute_url | replace: 'https', 'http' }}" />
	{% for hash in page.ogp %}
		<meta property="{{ hash[0] | replace: '.', ':' }}" content="{{ hash[1] }}" />
	{% endfor %}
</head>
<body>
	{% include banner.liquid %}

	<main>
		<header class="project project-hero">
			<div class="project-inner inner">
				<img
					src="{{ page.images.logo | prepend: images | relative_url }}"
					alt="{{ page.title }}" class="project-logo"
					height="128" width="128"
				>
				<div class="project-hero-text">
					<h1 class="project-header">{{ page.title }}</h1>
					<p class="project-text">{{ page.subtitle }}</p>
					<ul class="project-tech">
						{% for tech in page.tech %}
							<li class="pt-item">{{ tech }}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</header>

		{{ output }}

		<nav class="project-links">
			{% for hash in page.links %}
				{% unless hash[0] == 'Details' %}
					<a class="button-link shadow" href="{{ hash[1] }}">
						{{ hash[0] | replace: '_', ' ' }}
					</a>
				{% endunless %}
			{% endfor %}
		</nav>
	</main>

	<div class="cta-wrap">
		<a class="button-link cta shadow" href="{{ base }}/projects/">Other projects</a>
	</div>

	<footer class="contact" role="contentinfo">
		{% include contact.liquid color="black" %}
	</footer>
</body>
{% include analytics.html %}
</html>
