---
layout: compress
---
<!doctype html>
<html lang="en">
<head>
	{% include head.liquid extrafont="true" %}
	<style>
		{% include css/core.css %}
		{% include css/banner.css %}
		{% include css/footer.css %}
		{% include css/button.css %}
		{% include css/post.css %}
	</style>
	{% assign author = site.data.authors[page.author] %}
	{% seo %}
	{% feed_meta %}
	<link rel="stylesheet" href="{{ '/assets/highlight.css' | relative_url }}">
</head>
<body>
	{% include banner.liquid %}

	<article class="post-wrapper inner">
		<header class="post-header">
			<h1 class="post-title">{{ page.title }}</h1>
			<span class="post-subtitle">{{ page.subtitle }}</span>

			<div class="post-meta">
				{% if page.author != 'tiger' %}
					<a class="post-author" href="{{ author.link }}">{{ author.name }}</a>
				{% endif %}
				<time
					class="post-date" datetime="{{ page.date | date_to_xmlschema }}"
				>
					{{ page.date | date_to_long_string }}
				</time>
			</div>

			{% if page.image %}
				<figure class="post-hero-container">
					<img class="post-hero" src="{{ page.image.path }}" alt="">
					{% if page.image.caption %}
						<figcaption class="post-hero-caption">
							{{ page.image.caption }}
						</figcaption>
					{% endif %}
				</figure>
			{% endif %}
		</header>

		<div class="post-content md-content">
			{{ content }}
		</div>
	</article>

	<footer class="contact" role="contentinfo">
		{% include contact.liquid color="black" %}
	</footer>
</body>
{% include analytics.html %}
</html>
