---
layout: compress
---
<!doctype html>
<html lang="en">
<head>
  {% include head.liquid %}
  {% include utils/project_vars.liquid project=page %}
  <style>
    {% capture inline_styles %}
    @import "_utils";
    @import "core";
    @import "banner";
    @import "footer";
    @import "button";
    @import "project/collection-base";
    @import "project/single-page";
    {% endcapture %}
    {{ inline_styles | scssify }}

    .project-hero {
      {{ style }}
    }
  </style>
  <meta property="og:type" content="product" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:description" content="{{ page.description | default: page.excerpt }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta
    property="og:image"
    content="{{ logo  | absolute_url | replace: 'https:', 'http:' }}"
  />
  <meta
    property="og:image:secure_url"
    content="{{ logo  | absolute_url | replace: 'http:', 'https:' }}"
  />
  <meta property="og:image:width" content="512" />
  <meta property="og:image:height" content="512" />
  {% for hash in page.ogp %}
    <meta property="{{ hash[0] | replace: '.', ':' }}" content="{{ hash[1] }}" />
  {% endfor %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@Not_Woods" />
  <meta name="twitter:title" content="{{ page.title }} - {{ site.title }}" />
  <meta name="twitter:description" content="{{ page.description | default: page.excerpt }}" />
  <meta name="twitter:image" content="{{ logo | absolute_url }}" />
</head>
<body>
  {% include banner.liquid %}

  <article class="project-details-wrapper">
    <header class="project project-hero">
      <div class="project-inner inner">
        {{ logo_img }}
        <div class="project-hero-text">
          <h1 class="project-header side-block">{{ page.title }}</h1>
          <p class="project-text">{{ page.subtitle }}</p>
          {{ tech_list }}
        </div>
      </div>

      <nav class="project-links">
        {% for hash in page.links %}
          {% unless hash[0] == 'Details' %}
            <a class="button-link shadow" href="{{ hash[1] }}">
              {{ hash[0] | replace: '_', ' ' }}
            </a>
          {% endunless %}
        {% endfor %}
      </nav>
    </header>

    <div class="project-details inner md-content">
      {{ page.content }}
    </div>

    <footer class="cta-wrap">
      <a class="button-link cta shadow" href="{{ '/projects/' | relative_url }}">
        Other projects
      </a>
    </footer>
  </article>

  <footer class="contact" role="contentinfo">
    {% include contact.liquid color="black" %}
  </footer>
</body>
{% include analytics.html %}
</html>
